doctype html
html
    head
        meta(charset='utf-8')
        title=`${title ? `${title} | ` : ''}Stück vom Glück Behelfsmasken`
        link(rel='stylesheet', href='/css/style.css')
        meta(name='viewport' content='width=device-width')
        //meta(name='robots' content='noindex,nofollow')


        meta( name='description' content='Handgenähte Behelfsmasken aus verschiedensten Baumwollstoffen. Stoff aussuchen und unverbindlich Anfragen.')
        meta( name='image' content='https://www.svgtk.de/og-image.png')

        link(rel='apple-touch-icon', sizes='180x180', href='/favicons/apple-touch-icon.png')
        link(rel='icon', type='image/png', sizes='32x32', href='/favicons/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='16x16', href='/favicons/favicon-16x16.png')
        link(rel='manifest', href='/favicons/site.webmanifest')
        link(rel='mask-icon', href='/favicons/safari-pinned-tab.svg', color='#df0760')
        link(rel='shortcut icon', href='/favicons/favicon.ico')
        meta(name='apple-mobile-web-app-title', content='SVGTK')
        meta(name='application-name', content='SVGTK')
        meta(name='msapplication-TileColor', content='#ffffff')
        meta(name='msapplication-config', content='/favicons/browserconfig.xml')
        meta(name='theme-color', content='#ffffff')

        meta(itemprop='name' content='Stück vom Glück Behelfsmasken')
        meta(itemprop='description' content='Handgenähte Behelfsmasken aus verschiedensten Baumwollstoffen. Stoff aussuchen und unverbindlich Anfragen.')
        meta(itemprop='image' content='https://www.svgtk.de/og-image.png')
        meta(name='twitter:card' content='summary')
        meta(name='twitter:title' content='Stück vom Glück Behelfsmasken')
        meta(name='twitter:description' content='Handgenähte Behelfsmasken aus verschiedensten Baumwollstoffen. Stoff aussuchen und unverbindlich Anfragen.')
        meta(name='twitter:site' content='@mklaschka1')
        meta(name='twitter:image:src' content='https://www.svgtk.de/sm-horizontal.png')
        meta(property='og:title' content='Stück vom Glück Behelfsmasken')
        meta(property='og:image' content='https://www.svgtk.de/sm-horizontal.png')
        meta(property='og:description' content='Handgenähte Behelfsmasken aus verschiedensten Baumwollstoffen. Stoff aussuchen und unverbindlich Anfragen.')
        meta(property='og:url' content='https://www.svgtk.de')
        meta(property='og:site_name' content='Stück vom Glück Behelfsmasken')
        meta(property='og:locale' content='de_DE')
        meta(property='og:type' content='website')

    body
        header.uk-navbar-container.uk-background-secondary.uk-light
            nav(uk-navbar)
                .uk-navbar-left
                    div.uk-navbar-item.uk-logo
                        img(src='/img/logo.png' height=56)#Logo
                    ul.uk-navbar-nav
                        li(class=(active === 'start' ? 'uk-active' : ''))
                            a(href='/') Start
                        li(class=(active === 'impressum' ? 'uk-active' : ''))
                            a(href='/impressum') Impressum
                        li(class=(active === 'datenschutz' ? 'uk-active' : ''))
                            a(href='/datenschutz') Datenschutz
                .uk-navbar-right
                    ul.uk-icon-nav.uk-navbar-nav
                        li
                            a(href='https://www.instagram.com/stueckvomgluecktextilkunst' target='_blank' rel='noopener')
                                i.fab.fa-instagram
                        li
                            a(href='https://de-de.facebook.com/stueckvomgluecktextilkunst/' target='_blank' rel='noopener')
                                i.fab.fa-facebook
        main.uk-padding
            block content

        hr
        footer.uk-padding
            p Die Website und das dahinterstehende Verwaltungssystem wurden von Pablo Klaschka ( #[a(target='_blank' href='https://www.pabloklaschka.de') www.pabloklaschka.de #[i.fal.fa-external-link]]) entwickelt.
            p Der Quellcode steht offen in #[a(target='_blank' href='https://github.com/pklaschka/svgtk-behelfsmasken-stoffwahl') #[i.fab.fa-github] GitHub] zur Verfügung.
        script(src='https://kit.fontawesome.com/5723931a0c.js', crossorigin='anonymous')
        script(src='/js/uikit.min.js')
